name: all steps

on:
  workflow_dispatch:

jobs:
  job_1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
      
      - name: install tree
        run: sudo apt install tree
        
      - run: ls -lh
     
      - run: |
          npm install
          npm run build
        working-directory: .
        shell: bash
