name: Manual Trigger Test Deploy

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: "choose environment:"
        required: true
        default: staging
        type: choice
        options:
          - staging
          - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: deploy application
        run: echo "deploying application ${{github.event.inputs.environment}}..."
  
