name: Reusable Workflow

on:
  workflow_call:
    inputs:
      ENV:
        type: string
        default: "development"

jobs:
  TEST_JOB:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment
        run: echo "Environment is ${{ inputs.ENV }}"
