name: Caller Workflow

on:
  workflow_dispatch:
    inputs:
      ENV:
        description: 'Environment name'
        type: string
        required: true
        default: 'production'

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable.yml
    with:
      ENV: ${{ github.event.inputs.ENV }}
